header{
    background-image: url("../images/fondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
.perfil{
    padding-top: 8.4px;
}
nav{
    border-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
nav{
    font-size: 20px !important;
}
li.active{
    background-color: #e65100 !important;
}
img.circle.responsive-img {
    width: 18%;
    height: auto;
}
body{
    background-image: url("../images/fondo.jpg");
    background-size: 100%;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}
hr{
    margin: 0;
}
header p{
    font-size: 1em;
    margin: .1em 0 .6em;
    display: inline-block;
    font-style: italic;
    padding: 6px 10px;
    background-color: #e65100;
    border-radius: 4px;
    line-height: 1;
}
div#footer{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
footer{
    margin-top: 20px;
}
footer p {
    margin: auto 20%;
    font-size: 18px;
}
#redes-sociales{
    font-size: 300%;
}
.follow_us i{
    color: grey;
}
.follow_us i:hover{
    color: white;
}
#twitter h2{
    margin-bottom: -10%;
}
div.indicator{
    position: relative !important;
}
.tabs{
    height: auto;
}
div.row.card-action.white{
    margin: 0 !important;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 whitesmoke;
}
.input-field input[type=text]:focus + label, .input-field label, .input-field i.material-icons.prefix,
.input-field textarea.materialize-textarea:focus + label{ /*label de los inputs con y sin focus*/
    color: white;
}
.input-field input[type=text]:focus,  .input-field input[type=text],
.input-field textarea.material-icons[type=text]:focus, .input-field textarea.material-icons[type=text]{ /*lineas de los inputs con y sin focus*/
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 whitesmoke;
}
hr{
    margin-top: 1px;
}
div.subtitulo, h2.subtitulo{
    text-align: left;
}
p#texto-email{
    font-size: 22px !important;
}
#tab-curriculum button{
    margin: 3px 0;
}
p.contacto{
    font-size: 18px;
}
ul.timeline span, ul.timeline {
    float: left;
}
div#twitter i{
    padding-bottom: 15px;
}